endpoint_add_tcp "0.0.0.0:30121"
endpoint_add_udp "0.0.0.0:30121"
sv_endpointPrivacy true
sv_hostname "M | buenanotche - > Template"
set steam_webApiKey "none"
sv_licenseKey "cfxk_1H0r3hKiAfQStlN6k8ehv_4FWldP"
sv_maxclients 10
sets sv_projectName "discord.gg/digitaldev"
sets sv_projectDesc "cest officiel je suis flashback fa v2"
sets tags "default, esx, roleplay, gamemode"
sv_enforceGameBuild 3095
set onesync on
sv_useDirectListing true
set mysql_connection_string "server=localhost;database=digitaltmp;userid=root;password="
setr esx:locale "fr"
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.game command.add_ace allow
add_ace resource.game command.add_principal allow
add_ace resource.game command.remove_principal allow
add_ace resource.game command.stop allow

## Default & Standalone resources

ensure ox_lib
ensure game
ensure [213itsme]
ensure fivem-greenscreener